<h2>Default Form Errors</h2>
<mat-divider></mat-divider>
<form class="form-group" [formGroup]="defaultForm" matErrorGroupName="defaultForm" autocomplete="off">
  <mat-form-field>
    <mat-label>Validators.required</mat-label>
    <input formControlName="required" matInput>
    <mat-error matErrorTailor></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Validators.min(10)</mat-label>
    <input formControlName="min" matInput>
    <mat-hint></mat-hint>
    <mat-error matErrorTailor></mat-error>^
  </mat-form-field>
  <mat-form-field>
    <mat-label>Validators.min(20)</mat-label>
    <input formControlName="max" matInput>
    <mat-hint></mat-hint>
    <mat-error matErrorTailor></mat-error>
  </mat-form-field>
</form>
<h2>Single Control</h2>
<div class="form-group">
  <mat-form-field>
    <mat-label>Single Control</mat-label>
    <input [formControl]="singleControl" matInput>
    <mat-error matErrorTailor matErrorControlName="singleControl"></mat-error>
  </mat-form-field>
</div>