<h2>Form Group</h2>
<mat-divider></mat-divider>
<div class="form-group" [formGroup]="defaultForm" errorGroupName="defaultForm">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" matInput>
    <mat-error matErrorTailor></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input formControlName="lastName" matInput>
    <mat-error matErrorTailor></mat-error>
  </mat-form-field>
</div>
<h2>Single Control</h2>
<div class="container">
  <mat-form-field>
    <mat-label>Single Control</mat-label>
    <input [formControl]="singleControl" matInput>
    <mat-error matErrorTailor errorControlName="singleControl"></mat-error>
  </mat-form-field>
</div>